@import "/src/styles/variables";

.o-left {
  width: 50vw;

  h1 {
    font-family: $heading;
  }

  @media (max-width: 1050px) {
    width: 100%;
    text-align: center;
  }

  button {
    margin-top: 20px;
  }
}
