@import "/src/styles/variables";

.menu-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .menu-container {
    display: flex;
    flex-direction: column;

    i {
      background-color: $background-white;
      width: 32px;
      height: 2px;
      margin: 4px;

      transition: all ease 0.5s;

      &:hover {
        background-color: $background-blue;
      }
    }

    .open:nth-child(1) {
      transform: rotate(45deg) translateY(16px);
    }
    .open:nth-child(2) {
      opacity: 0;
    }
    .open:nth-child(3) {
      transform: rotate(-45deg) translateY(-16px);
    }

    .close:nth-child(1) {
      transform: rotate(0) translateY(0);
    }
    .close:nth-child(2) {
      opacity: 1;
    }
    .close:nth-child(3) {
      transform: rotate(0) translateY(0);
    }
  }
}
