@import "/src/styles/variables";

.home-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1050px) {
    width: 100%;
    text-align: center;
  }

  .homeintro-body {
    width: 80%;

    @media (max-width: 1050px) {
      width: 100%;
      text-align: center;
    }
  }

  h1 {
    font-family: $heading;
    line-height: 80px;

    @media (max-width: 1024px) {
      line-height: 62px;
    }
  }
  p {
    margin: 20px 0 40px 0;
    font-family: $body;
    line-height: 20px;
  }

  .search {
    @media (max-width: 1050px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
