@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "/src/styles/font.scss";

$background-black: rgba(0, 0, 0, 1);
$background-white: #fff;
$background-light-dark: rgba(143, 141, 141, 0.598);
$background-white: #ffffff;
$background-footer: #090909;
$background-blue: #66a9da;
$background-blue-hover: rgba(102, 169, 218, 0.9);
$font-color-primary: #fff;
$font-color-secondary: rgba(255, 255, 255, 0.5);
$border-color-blue: #66a9da;
$border-color-white: #fff;
$body: "Montserrat", sans-serif;
$heading: "TomatoSemiBold";

$shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.1);
$gradient: linear-gradient(180.08deg, #000000 0.07%, #66a9da 160.65%);

// -------------

:root {
  --background: black;
  --color: #fff;
}

[data-theme="light"] {
  --background: #cdcccc;
  --color: black;
}
