@import "/src/styles/variables";

.variant-h1 {
  font-size: 4rem;
  font-family: 500;
}
.variant-h2 {
  font-size: 3.7rem;
  font-family: 500;
}
.variant-h3 {
  font-size: 3rem;
  font-family: 500;
}
.variant-h4 {
  font-size: 2.6rem;
  font-family: 500;
}
.variant-h5 {
  font-size: 2rem;
  font-family: 500;
}
.variant-h6 {
  font-size: 1.9rem;
  font-family: 500;
}
.variant-body1 {
  font-size: 1rem;
  font-family: 500;
}
.variant-body2 {
  font-size: 0.8rem;
  font-family: 500;
}
