@import "/src/styles/variables";

.homestats-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;

  @media (max-width: 1050px) {
    margin-top: 20rem;
  }

  .homestats-container {
    width: 90vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $border-color-blue;

    h1 {
      font-family: $heading;
      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    p {
      margin-left: 20px;

      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
    }
  }
}
