@import "/src/styles/variables";

.homediscover-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .homediscover-container {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1050px) {
      flex-direction: column;
    }
  }
}
