@import "/src/styles/variables";

.nav-links {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }

  li {
    list-style: none;
  }

  .linksactive {
    color: $background-blue;
  }

  // a {
  //   padding: 0 20px;
  // }
}
