@import "/src/styles/variables";

.nav-wrapper {
  width: 100vw;
  background-color: var(--background);
  justify-content: center;
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;

  .nav-container {
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;

    .nav-center {
      .nav-links {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .lightmode-toggle {
        padding-right: 40px;
        cursor: pointer;
        color: var(--color);
      }

      .login {
        @media (max-width: 768px) {
          display: none;
        }
      }

      .buger-menu {
        color: var(--color);
        cursor: pointer;
        font-size: xx-large;
        transition: all ease 0.3s;
        display: none;
        &:hover {
          color: $background-blue;
        }

        @media (max-width: 768px) {
          display: flex;
        }
      }
    }
  }
}
